/* Center align text */
.App {
  text-align: center;
}

/* Logo styles */
.App-logo {
  height: 40vmin;
  pointer-events: none; /* Prevent interaction with the logo */
}

/* Animation for logo when reduced motion is not preferred */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header styling */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Link color */
.App-link {
  color: #61dafb;
}

/* Keyframes for logo spinning animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
